<mat-toolbar color="primary">
  <mat-toolbar-row align="center">
    <div> <mat-icon>face</mat-icon></div>
    <div> {{this.username}}</div>
    <div style="width:400px;"></div>
      <div class="example-button-row">
            <a mat-stroked-button routerLink="/uploadmedia">Upload Media</a>
      </div>
    <div class="example-button-row">
      <a mat-raised-button  target="_blank">My Media</a>
    </div>
    <div class="example-button-row">
      <a mat-stroked-button  target="_blank">Followers/Following</a>
    </div>
    <div style="width:650px;"></div>
    <div class="example-button-row">
      <a mat-stroked-button  target="_blank">Account</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<br/>

<mat-grid-list cols="5" rowHeight="400px">
  <mat-grid-tile *ngFor="let m of media">
    <mat-card class="my-card" (click)="onClick(m)" >
      <mat-card-header >
        <mat-card-title>{{m.description}}</mat-card-title>
      </mat-card-header>
      <mat-card-content >
        <img class="card-img-top" src="{{m.mediaurl}}" alt="Card image cap" width="250" height="250"/>
      </mat-card-content  >
      <mat-card-actions>
        <mat-icon>favorite</mat-icon>2
        <mat-icon>share</mat-icon>
        <mat-icon> comment</mat-icon>17
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>



